variable "aws_region" {
  type    = string
  default = "us-west-1"
}

variable "aws_az" {
  type    = string
  default = "us-west-1a"
}

variable "aws_ec2_instance_userdata_dir_name" {
  type    = string
  default = "userdata"
}

variable "aws_ec2_instance_script_file_name" {
  type    = string
  default = "gitea.sh"
}

variable "aws_ec2_instance_script_template_file_name" {
  type    = string
  default = "gitea.tftpl"
}

output "script_template_file" {
  value = abspath("templates/${var.aws_ec2_instance_script_template_file_name}")
}

output "rendered_script_file" {
  value = abspath("_out/${var.aws_ec2_instance_script_file_name}")
}

module "aws_vpc" {
  source             = "./modules/aws/vpc"
  aws_region         = var.aws_region
  aws_az_name        = var.aws_az
  aws_vpc_cidr_block = "172.16.192.0/21"
  aws_vpc_name       = "aws-ec2-test-vpc"
  custom_tags        = {
    Name  = "aws-ec2-test-vpc"
    Owner = "c.klewar@f5.com"
  }
}

provider "aws" {
  region = var.aws_region
  alias  = "default"
}

module "aws_subnet" {
  source          = "./modules/aws/subnet"
  aws_vpc_id      = module.aws_vpc.aws_vpc["id"]
  aws_vpc_subnets = [
    {
      map_public_ip_on_launch = true
      cidr_block              = "172.16.192.0/24"
      availability_zone       = var.aws_az
      custom_tags             = {
        Name  = "aws-ec2-test-public-subnet"
        Owner = "c.klewar@f5.com"
      }
    },
    {
      map_public_ip_on_launch = false
      cidr_block              = "172.16.193.0/24"
      availability_zone       = var.aws_az
      custom_tags             = {
        Name  = "aws-ec2-test-private-subnet"
        Owner = "c.klewar@f5.com"
      }
    }
  ]

  custom_tags = {
    Owner = "c.klewar@f5.com"
  }

  providers = {
    aws = aws.default
  }
}

variable "gitea_version" {
  type = string
}

variable "gitea_password" {
  type = string
}

module "ec2" {
  source                        = "./modules/aws/ec2"
  aws_ec2_instance_name         = "ec2-instance-01"
  aws_ec2_instance_type         = "t2.small"
  aws_subnet_cidr               = "172.16.192.0/21"
  aws_ec2_public_interface_ips  = ["172.16.192.10"]
  aws_ec2_private_interface_ips = ["172.16.193.10"]
  aws_ec2_instance_data_key     = "ec2-instance-01"
  aws_ec2_instance_data         = {
    inline = [
      format("chmod +x /tmp/%s", var.aws_ec2_instance_script_file_name),
      format("sudo /tmp/%s", var.aws_ec2_instance_script_file_name)
    ]
    userdata = {
      GITEA_VERSION  = var.gitea_version
      GITEA_PASSWORD = var.gitea_password
    }
  }
  aws_ec2_instance_script_template = format("%s", var.aws_ec2_instance_script_template_file_name)
  aws_ec2_instance_script_file     = format("%s", var.aws_ec2_instance_script_file_name)
  aws_subnet_private_id            = module.aws_subnet.aws_subnets["aws-ec2-test-private-subnet"]["id"]
  aws_subnet_public_id             = module.aws_subnet.aws_subnets["aws-ec2-test-public-subnet"]["id"]
  aws_az_name                      = var.aws_az
  aws_region                       = var.aws_region
  ssh_private_key_file             = abspath("keys/key")
  ssh_public_key_file              = abspath("keys/key.pub")
  aws_vpc_id                       = module.aws_vpc.aws_vpc["id"]
  aws_ec2_instance_userdata_dirs   = [
    {
      name        = "instance_script"
      source      = abspath(format("../modules/ec2/_out/%s", format("%s.sh", var.aws_ec2_instance_script_file_name)))
      destination = format("/tmp/%s", format("%s.sh", var.aws_ec2_instance_script_file_name))
    },
    {
      name        = "additional_custom_data"
      source      = abspath(format("../modules/ec2/userdata/%s", var.aws_ec2_instance_script_file_name))
      destination = "/tmp/userdata"
    }
  ]
  custom_tags = {
    Name    = "ec2-instance-01"
    Version = "1"
    Owner   = "c.klewar@f5.com"
  }
}

output "aws_subnet_ids" {
  value = module.aws_subnet.aws_subnets
}

output "aws_ec2_instance_public_ip" {
  value = module.ec2.aws_ec2_instance_public_ip
}

output "aws_ec2_instance_public_dns" {
  value = module.ec2.aws_ec2_instance_public_dns
}