variable "aws_region" {
  type    = string
  default = "us-west-1"
}

variable "aws_az" {
  type    = string
  default = "us-west-1a"
}

variable "aws_ec2_instance_script_file_name" {
  type    = string
  default = "gitea.sh"
}

variable "aws_ec2_instance_script_template_file_name" {
  type    = string
  default = "gitea.tftpl"
}

variable "gitea_version" {
  type    = string
}

variable "gitea_password" {
  type    = string
}

variable "rendered_template_output_path" {
  type    = string
  default = "_out/"
}

variable "custom_data_dir" {
  type    = string
  default = "custom_data"
}

variable "aws_ec2_instance_name" {
  type    = string
  default = "ec2-instance-01"
}

locals {
  rendered_template_output_path = abspath("_out/")
}

module "aws_vpc" {
  source             = "./modules/aws/vpc"
  aws_region         = var.aws_region
  aws_az_name        = var.aws_az
  aws_vpc_cidr_block = "172.16.192.0/21"
  aws_vpc_name       = "aws-ec2-test-vpc"
  custom_tags        = {
    Name  = "aws-ec2-test-vpc"
    Owner = "c.klewar@f5.com"
  }
}

provider "aws" {
  region = var.aws_region
  alias  = "default"
}

module "aws_subnet" {
  source          = "./modules/aws/subnet"
  aws_vpc_id      = module.aws_vpc.aws_vpc["id"]
  aws_vpc_subnets = [
    {
      map_public_ip_on_launch = true
      cidr_block              = "172.16.192.0/24"
      availability_zone       = var.aws_az
      custom_tags             = {
        Name  = "aws-ec2-test-public-subnet"
        Owner = "c.klewar@f5.com"
      }
    },
    {
      map_public_ip_on_launch = false
      cidr_block              = "172.16.193.0/24"
      availability_zone       = var.aws_az
      custom_tags             = {
        Name  = "aws-ec2-test-private-subnet"
        Owner = "c.klewar@f5.com"
      }
    }
  ]

  custom_tags = {
    Owner = "c.klewar@f5.com"
  }

  providers = {
    aws = aws.default
  }
}

resource "aws_internet_gateway" "igw" {
  provider = aws.default
  vpc_id   = module.aws_vpc.aws_vpc["id"]
  tags     = {
    Owner = "c.klewar@f5.com"
  }
}

resource "aws_route_table" "rt" {
  provider = aws.default
  vpc_id   = module.aws_vpc.aws_vpc["id"]
  route {
    cidr_block = "0.0.0.0/0"
    gateway_id = aws_internet_gateway.igw.id
  }
  tags = {
    Owner = "c.klewar@f5.com"
  }
}

resource "aws_route_table_association" "subnet" {
  provider       = aws.default
  for_each       = module.aws_subnet.aws_subnets
  subnet_id      = each.value.id
  route_table_id = aws_route_table.rt.id
}

module "ec2" {
  source                        = "./modules/aws/ec2"
  aws_ec2_instance_name         = var.aws_ec2_instance_name
  aws_ec2_instance_type         = "t2.small"
  aws_ec2_public_interface_ips  = ["172.16.192.10"]
  aws_ec2_private_interface_ips = ["172.16.193.10"]
  aws_ec2_instance_script       = {
    actions = [
      "ls -la /tmp",
      "ls -la /tmp/${var.custom_data_dir}",
      format("chmod +x /tmp/%s", var.aws_ec2_instance_script_file_name),
      format("sudo /tmp/%s", var.aws_ec2_instance_script_file_name)
    ]
    template_data = {
      CUSTOM_DATA_DIR = var.custom_data_dir
      GITEA_VERSION   = var.gitea_version
      GITEA_PASSWORD  = var.gitea_password
    }
  }
  aws_ec2_instance_script_template  = var.aws_ec2_instance_script_template_file_name
  aws_ec2_instance_script_file      = var.aws_ec2_instance_script_file_name
  aws_subnet_private_id             = module.aws_subnet.aws_subnets["aws-ec2-test-private-subnet"]["id"]
  aws_subnet_public_id              = module.aws_subnet.aws_subnets["aws-ec2-test-public-subnet"]["id"]
  aws_az_name                       = var.aws_az
  aws_region                        = var.aws_region
  ssh_private_key_file              = abspath("keys/key")
  ssh_public_key_file               = abspath("keys/key.pub")
  aws_vpc_id                        = module.aws_vpc.aws_vpc["id"]
  rendered_template_output_path     = local.rendered_template_output_path
  aws_ec2_instance_custom_data_dirs = [
    {
      name        = "instance_script"
      source      = "${local.rendered_template_output_path}/${var.aws_ec2_instance_script_file_name}"
      destination = format("/tmp/%s", var.aws_ec2_instance_script_file_name)
    },
    {
      name        = "additional_custom_data"
      source      = abspath("${var.custom_data_dir}/")
      destination = "/tmp"
    }
  ]
  custom_tags = {
    Name    = var.aws_ec2_instance_name
    Version = "1"
    Owner   = "c.klewar@f5.com"
  }
}

output "ec2_output_values" {
  value = module.ec2.aws_ec2_instance
}

output "script_template_file" {
  value = abspath("templates/${var.aws_ec2_instance_script_template_file_name}")
}

output "rendered_script_file" {
  value = "${local.rendered_template_output_path}/${var.aws_ec2_instance_script_file_name}"
}

output "aws_subnet_ids" {
  value = module.aws_subnet.aws_subnets
}