#cloud-config
users:
  - default
  - name: terraform
    primary_group: users
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    lock_passwd: false
    ssh_authorized_keys:
      - "${ssh_public_key}"